<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The 52-week High and Momentum Investing in Emerging Markets - 629232D1-CAD6-42ED-A0CA-003AF1876552`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `The 52-week High and Momentum Investing in Emerging Markets`</div>
<div class="progress-msg"><b>CREATING</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis`</div>
<div class="progress-msg">Associate post `The 52-week High and Momentum Investing in Emerging Markets` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `no_box` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `author` has been updated with value `Jongkhom Chuchaisri` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_author` has been updated with value `field_5903853d06d71` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2008` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `advisor` has been updated with value `Thanee Chaiwat` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_advisor` has been updated with value `field_5914bd6bb11a1` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `type` has been updated with value `SE` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_type` has been updated with value `field_5914bd7bb11a2` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis` (ID: 721)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Impact of Turnover List and Cash Balance Announcement in Thailand - A5E3ECA7-5D0C-41CC-AAAC-00F65336C4F0`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Impact of Turnover List and Cash Balance Announcement in Thailand`</div>
<div class="progress-msg"><b>CREATING</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis`</div>
<div class="progress-msg">Associate post `Impact of Turnover List and Cash Balance Announcement in Thailand` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `no_box` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `author` has been updated with value `Apirat Lertamphainont` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_author` has been updated with value `field_5903853d06d71` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2012` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `advisor` has been updated with value `Anirut Pisedtasalasai` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_advisor` has been updated with value `field_5914bd6bb11a1` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `type` has been updated with value `SE` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_type` has been updated with value `field_5914bd7bb11a2` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_wp_page_template` has been updated with value `default` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis` (ID: 722)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
