<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `The 52-week High and Momentum Investing in Emerging Markets`</div>
<div class="progress-msg"><b>CREATING</b> `The 52-week High and Momentum Investing in Emerging Markets` `Post`</div>
<div class="progress-msg">Associate post `The 52-week High and Momentum Investing in Emerging Markets` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Attempted to create parent Post category `Thesis`, duplicate detected. Importing Post to existing `Thesis` category, ID 10, slug `thesis` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The 52-week High and Momentum Investing in Emerging Markets` `Post` (ID: 699)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Impact of Turnover List and Cash Balance Announcement in Thailand`</div>
<div class="progress-msg"><b>CREATING</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Post`</div>
<div class="progress-msg">Associate post `Impact of Turnover List and Cash Balance Announcement in Thailand` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Attempted to create parent Post category `Thesis`, duplicate detected. Importing Post to existing `Thesis` category, ID 10, slug `thesis` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Post` (ID: 700)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
