<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The 52-week High and Momentum Investing in Emerging Markets - 629232D1-CAD6-42ED-A0CA-003AF1876552`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `The 52-week High and Momentum Investing in Emerging Markets`</div>
<div class="progress-msg"><b>CREATING</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis`</div>
<div class="progress-msg">Associate post `The 52-week High and Momentum Investing in Emerging Markets` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `no_box` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `author` has been updated with value `Jongkhom Chuchaisri` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_author` has been updated with value `field_5903853d06d71` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2008` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `advisor` has been updated with value `Thanee Chaiwat` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_advisor` has been updated with value `field_5914bd6bb11a1` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `type` has been updated with value `SE` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_type` has been updated with value `field_5914bd7bb11a2` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_columns` has been updated with value `1` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_columns` has been updated with value `field_58fcbf8868e3c` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_column_content_1` has been updated with value `&lt;p&gt;This paper investigates the existence of a persistent return in emerging market&lt;br /&gt;indexes by comparing Jegadessh and Titman&rsquo;s (1993) price momentum and George and&lt;br /&gt;Hwang&rsquo;s (2004) nearness to 52-week high price momentum strategy. Price momentum&lt;br /&gt;profitability in the emerging market indexes is quite similar in magnitude to the empirical&lt;br /&gt;results of Rouwenhorst (1999). Differently from many empirical studies, such as George&lt;br /&gt;and Hwang (2004) in United States, Marshall and Cahan (2005) in Australian Market, and&lt;br /&gt;Ding Du (2007) in international stock indexes, I find no profitability in the 52-week high&lt;br /&gt;price momentum strategy for the emerging market indexes. One possible explanation of the&lt;br /&gt;different result obtained here for the emerging market indexes compared to the results for&lt;br /&gt;well developed financial markets such as US can be attributed to the diffusion of&lt;br /&gt;information and investors overreaction. Market indexes might reach their 52-week high&lt;br /&gt;price because investors speculation moves the price to their 52-week high; however, when&lt;br /&gt;more accurate news reaches the market, the indexes drop below their 52-week high price.&lt;br /&gt;However, I find support evidences that the long-tem reversal in the 52-week high price&lt;br /&gt;momentum strategy does exist.&lt;/p&gt;` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_column_content_1` has been updated with value `field_58fcbf4168e3b` for post `The 52-week High and Momentum Investing in Emerging Markets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis` (ID: 735)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Impact of Turnover List and Cash Balance Announcement in Thailand - A5E3ECA7-5D0C-41CC-AAAC-00F65336C4F0`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Impact of Turnover List and Cash Balance Announcement in Thailand`</div>
<div class="progress-msg"><b>CREATING</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis`</div>
<div class="progress-msg">Associate post `Impact of Turnover List and Cash Balance Announcement in Thailand` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `no_box` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `author` has been updated with value `Apirat Lertamphainont` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_author` has been updated with value `field_5903853d06d71` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2012` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `advisor` has been updated with value `Anirut Pisedtasalasai` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_advisor` has been updated with value `field_5914bd6bb11a1` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `type` has been updated with value `SE` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_type` has been updated with value `field_5914bd7bb11a2` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_columns` has been updated with value `1` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_columns` has been updated with value `field_58fcbf8868e3c` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_column_content_1` has been updated with value `&lt;p&gt;This study investigates the impact of turnover list and cash balance announcement in Thailand using intra-day data based on Monte-Carlo simulation technique. Our study shows that there is no impact to the turnover list announcement; rather it might lead higher trading volumes. On the other hand, cash balance announcement is very efficient regulation. It could handle abnormal trading activities by reducing trading volumes after an announcement. Although there are still some abnormal trading activities after an announcement during some periods of time, this could be explained by Louhichi (2008) that information needs to take some times to flow into the market.&lt;/p&gt; &lt;p&gt;More importantly, my study shed further light on different impact among different investor types which are individual, foreign, institutional and proprietary investor. Our empirical result shows that individual investor is slow and overconfidence resulting in overreaction trading behavior. This supports empirical findings by Barber and Odean (2000) and Chuang and Susmel (2011). Foreign and institutional investors are sophisticated investors. They react to the announcement very quickly, in the earlier stage, while proprietary investor&rsquo;s behavior reacts similarly to individual investor&rsquo;s behavior. They are considerably a part of institutional investor but still be able to take risk.&lt;/p&gt; &lt;p&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Further, I explore the different reaction regarding to size-of-stock. Our empirical finding indicates that there are always lower abnormal trading activities for big-size stocks than small-size stocks. This implies that big-size stocks are speculated or traded less by investors than small-size stocks due to different in ownership of informed investors. Big-size stocks are normally own more by informed investors resulting in difficulty in price manipulation.&lt;/p&gt; &lt;p&gt;Lastly my result shows that there is no difference impact on changing non-announcement period from weekday to day that the announcement is made (matching announcement days). Then I could use either simulation period to test abnormal trading activities.&lt;/p&gt;` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_column_content_1` has been updated with value `field_58fcbf4168e3b` for post `Impact of Turnover List and Cash Balance Announcement in Thailand` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis` (ID: 736)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
