<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017 - 2607B900-9183-484F-9BCF-00F075C394F3`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017`</div>
<div class="progress-msg"><b>CREATING</b> `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` `News`</div>
<div class="progress-msg">Associate post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `cover_image` has been updated with value `48` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_cover_image` has been updated with value `field_58c647faf998b` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `a:1:{i:0;s:11:&quot;multicolumn&quot;;}` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2014` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `is_pinned` has been updated with value `1` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_is_pinned` has been updated with value `field_5902f7b65e830` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `is_post_scheduled` has been updated with value `1` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_is_post_scheduled` has been updated with value `field_5902fc003132f` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `publish_post_start` has been updated with value `2017-07-22 16:49:43.310` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_publish_post_start` has been updated with value `field_5902fc5831330` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `publish_post_end` has been updated with value `2020-12-31 23:59:59` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_publish_post_end` has been updated with value `field_5902fca731331` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pin_schedule_start` has been updated with value `2017-07-22 16:49:43.310` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_pin_schedule_start` has been updated with value `field_5902f7ec5e831` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pin_schedule_end` has been updated with value `2020-12-31 23:59:59` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_pin_schedule_end` has been updated with value `field_5902f8c15e832` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_columns` has been updated with value `1` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_columns` has been updated with value `field_58fcbf8868e3c` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_column_content_1` has been updated with value `&lt;p&gt;&lt;!-- pagebreak --&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot; align=&quot;center&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;Announcement&lt;/strong&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot; align=&quot;center&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;Master of Science in Finance Program&lt;/strong&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot; align=&quot;center&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;&nbsp;Faculty of Commerce and Accountancy, Chulalongkorn University&lt;/strong&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;Subject: Comprehensive Exam Date for term 2 and 3, academic year 2017&lt;/strong&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #0000ff;&quot;&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #000000;&quot;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;br /&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt; &lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Term 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sunday 5 of November, 2017; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time: 9.00-12.00 hrs.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-family: Roboto,sans-serif; text-align: left; font-size: 14px; line-height: 1.3em; overflow-wrap: break-word; text-rendering: geometricprecision; margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #0000ff;&quot;&gt;&lt;span style=&quot;font-family: Roboto,sans-serif; text-align: left; line-height: 1.3em; overflow-wrap: break-word; text-rendering: geometricprecision; margin: 0px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #000000;&quot;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;Term 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sunday 4 of March, 2018; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time: 9.00-12.00 hrs.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto,sans-serif; font-size: 14px; line-height: 24px; overflow-wrap: break-word; text-rendering: geometricprecision; margin: 0px 0px 10px; padding: 0px; border: 0px none; outline: 0px none; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 0px; text-transform: none; white-space: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: left;&quot;&gt;&nbsp;&lt;/p&gt; &lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Term 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sunday 1 of July, 2018; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time: 9.00-12.00 hrs.&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot;&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #0000ff;&quot;&gt;&lt;span style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0; color: #000000;&quot;&gt;&nbsp;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt; &lt;p style=&quot;font-family: Roboto, sans-serif; text-align: center; font-size: 14px; line-height: 24px; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px 0px 10px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: normal; word-spacing: 0px; z-index: 0; color: #5a5353; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;&lt;strong style=&quot;font-family: Roboto, sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; word-wrap: break-word; text-rendering: geometricPrecision; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; letter-spacing: 0px; word-spacing: 0px; z-index: 0;&quot;&gt;&nbsp;&lt;/strong&gt;&lt;/strong&gt;&lt;/p&gt;` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_column_content_1` has been updated with value `field_58fcbf4168e3b` for post `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `COMPREHENSIVE EXAM DATE FOR TERM 2 AND 3, ACADEMIC YEAR 2017` `News` (ID: 1442)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `[Job Opportunity] Exxon Mobile Open House`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `[Job Opportunity] Exxon Mobile Open House`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `[Job Opportunity] Exxon Mobile Open House - BD2823F0-0EAE-4BEC-A493-00F146C07B11`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `[Job Opportunity] Exxon Mobile Open House`</div>
<div class="progress-msg"><b>CREATING</b> `[Job Opportunity] Exxon Mobile Open House` `News`</div>
<div class="progress-msg">Associate post `[Job Opportunity] Exxon Mobile Open House` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `cover_image` has been updated with value `48` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_cover_image` has been updated with value `field_58c647faf998b` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout` has been updated with value `a:1:{i:0;s:11:&quot;multicolumn&quot;;}` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout` has been updated with value `field_58fcbe0268e3a` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `year` has been updated with value `2014` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_year` has been updated with value `field_5903855906d72` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `is_pinned` has been updated with value `0` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_is_pinned` has been updated with value `field_5902f7b65e830` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `is_post_scheduled` has been updated with value `1` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_is_post_scheduled` has been updated with value `field_5902fc003132f` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `publish_post_start` has been updated with value `2015-09-28 11:24:18.933` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_publish_post_start` has been updated with value `field_5902fc5831330` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `publish_post_end` has been updated with value `2020-12-31 23:59:59` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_publish_post_end` has been updated with value `field_5902fca731331` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pin_schedule_start` has been updated with value `2015-09-28 11:24:18.933` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_pin_schedule_start` has been updated with value `field_5902f7ec5e831` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `pin_schedule_end` has been updated with value `2020-12-31 23:59:59` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_pin_schedule_end` has been updated with value `field_5902f8c15e832` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_columns` has been updated with value `1` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_columns` has been updated with value `field_58fcbf8868e3c` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `layout_0_column_content_1` has been updated with value `&lt;p&gt;Job opportunities for finance students at Exxon Mobil. You are invited to join the Exxon Mobil open house at its office. Please see the attached file for more information.&lt;/p&gt; &lt;p&gt;&lt;!-- pagebreak --&gt;&lt;/p&gt; &lt;p&gt;&nbsp;&lt;/p&gt; &lt;p&gt;&nbsp;&lt;/p&gt; &lt;p&gt;&nbsp;&lt;/p&gt;` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `_layout_0_column_content_1` has been updated with value `field_58fcbf4168e3b` for post `[Job Opportunity] Exxon Mobile Open House` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>CREATED</b> `[Job Opportunity] Exxon Mobile Open House` `News` (ID: 1443)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
