/*
Theme Name: MSF Chula
Theme URI:
Author: MSF Chula
Author URI:
Description: The theme for MSF Chula faculty.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: MSF

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;

@grid-float-breakpoint: @screen-md-min;

@blue-color-1: #00506B;
@blue-color-2: #4092D1;
@blue-color-3: #66A2D1;
@blue-color-4: #728da8;
@blue-color-5: #E5EDF0;

@primary-color: @blue-color-1;
@title-color: #444;
@text-color: #666;

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.text-overflow(){
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

a{
	cursor: pointer;
}

body{
	// -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
	background: #fff;
	font-family: 'Roboto', sans-serif;
	color: @text-color;
	line-height: 1.7;
	font-size: 14px;
}

img{
	max-width: 100%;
	max-height: 100%;

	&.avatar.avatar-64.photo{
		max-height: none;
	}
}

.container{
	width: 100%;
    max-width: 990px;
}

.content-color-band{
	background-color: #ECECEC;
}

header{
	background: @primary-color;

	.navbar{
		margin-bottom: 0;
		border-bottom: 1px solid #B0BEC7;
	}

	.navbar-header{
		margin-bottom: 0;

		.navbar-brand{
			margin-top: -1px;
			padding-top: 1px;
			margin-left: -1px;
			height: 52px;
			position: relative;
			margin-right: 120px;
			background: url('./images/logo.png') no-repeat top right;
			background-size: auto 100%;
			width: 125px;
		}

		.navbar-toggle{
			margin-right: 5px;

			.icon-bar{
				background: #fff;
			}
		}
	}

	#header-top-panel{
		padding: 15px 0 0;
		text-align: right;
	}

	#header-top-menu-list{
		display: inline-block;
		list-style: none;
		margin-top: 12px;
		margin-right: 20px;

		> li{
			display: inline-block;
			vertical-align: bottom;

			+ li{
				margin-left: 20px;
			}

			&:before{
				content: url("./images/icon1.png");
				margin-right: 7px;
				display: inline-block;
			}

			&#account-menu{
				> .dropdown-menu{
					margin: 23px 0 0 0;
					border-radius: 0;
				}
			}

			> a{
				color: #ccc;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}

	#header-contact{
		color: #fff;
		text-align: left;
		font-size: 12px;
		display: inline-block;
		margin-right: 45px;

		> img{
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		#header-contact-content{
			display: inline-block;
			vertical-align: middle;
		}

		#phone{
			font-size: 24px;
			font-weight: 300;
			line-height: 29px;
			color: #33CCFF;
		}

		#msf-text{
			font-size: 12px;
			line-height: 14px;
		}
	}

	#main-menus{
		box-shadow: none;

		> ul{
			> li{
				> a{
					color: #fff;
					padding: 10px 15px;
					letter-spacing: .5px;
					font-size: 13px;
					line-height: 1.1;
					text-transform: uppercase;
					font-weight: 400;
					background: transparent;

					&:active,
					&:focus,
					&:hover{
						background: transparent;
					}
				}
			}
		}
	}
}

strong,
b{
	font-weight: 500;
}

.row{
    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

.section-title{
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 20px;
	color: @primary-color;
}

.color-content-band{
	background: #ECECEC;
}

iframe{
	max-width: 100%;
}

.btn{
	&.btn-primary{
		background: @primary-color;

		&:hover{
			background: @primary-color;
		}
	}

	&.size-1{
		min-width: 120px;
	}
}

.blink_me {
  	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  	50% { opacity: 0.3; }
}

#loading-panel{
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1056;
	display: none;

	> img{
		width: 80px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: -40px auto 0;
	}
}

.bootstrap-select .dropdown-menu > ul > li > a,
.bootstrap-select .dropdown-toggle,
button,
input[type="password"],
input[type="email"],
input[type="text"]{
	&:focus{
		outline: none !important;
		box-shadow: none !important;
		border-color: @primary-color;
	}
}

.content-panel{
	padding: 30px 0;

	[class^="col-"]{
		// margin-bottom: 30px;
	}
}

#feature-image-panel{
	.slide{
		height: 465px;
	}
}

#feature-image-slide{
	.image-wrapper{
		background-size: cover;
		background-repeat: no-repeat;

		img{
			width: 100%;
		}
	}
}

.owl-carousel{
	position: relative;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #ddd;

	.owl-item{
		text-align: center;

		img{
			width: 100%;
			margin: auto;
			display: inline-block;
		}
	}

	.owl-nav{
		margin: 0;

		> div{
			position: absolute;
			top: 50%;
			background: transparent !important;
			color: #fff;

			&.owl-prev{
				left: 0;
			}

			&.owl-next{
				right: 0;
			}
		}
	}

	.owl-dots{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
		bottom: 0;

		.owl-dot{
			&.active{
				> span{
					background: @primary-color;
				}
			}
		}
	}
}

.slide-arrow{
    display: block !important;
    position: absolute;
    width: 24px;
    height: 24px;
    background: transparent;
    text-indent: -9999px;
    // border-top: 2px solid #fff;
    // border-left: 2px solid #fff;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: transparent;
    border-radius: 0;
    overflow: hidden;
    margin-top: -14px;

    &.medium{
    	width: 40px;
    	height: 40px;
		margin-top: -30px;
    }

    &:hover{
        border-color: #fff;
        border-width: 3px;
    }

    &:before {
        display: block;
        height: 200%;
        width: 200%;
        margin-left: -50%;
        margin-top: -50%;
        content: "";
        // transform: rotate(45deg);
    }

    &.prev{
        // transform: rotate(-45deg);
        background: url('./images/left-arrow.png') no-repeat center center;
        background-size: auto 100%;
        left: 0;
    }

    &.next{
        // transform: rotate(135deg);
        background: url('./images/right-arrow.png') no-repeat center center;
        background-size: auto 100%;
        right: 0;
    }
}

#menu-boxes-panel{
	padding: 20px 0;
}

.menu-boxes{
	list-style: none;
	margin: 0;
	.clearfix();

	&.mobile{
		.menu-box{
			width: 50% !important;
		}
	}

	> .menu-box{
		background: #014E6A;
		text-align: center;
		display: block;
		float: left;

		&:nth-child(2){
			background: #04678B;
		}

		&:nth-child(3){
			background: #047CA8;
		}

		&:nth-child(4){
			background: #0691C4;
		}

		&:nth-child(5){
			background: #08A7E1;
		}

		&:nth-child(6){
			background: #1fb5eb;
		}

		&:nth-child(7){
			background: #1fb5eb;
		}

		&:nth-child(8){
			background: #1fb5eb;
		}

		.box-title{
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: .1px;
			padding: 0 10px;
			height: 60px;
			display: table-cell;
			vertical-align: middle;
			text-transform: uppercase;
			line-height: 1.3;
		}

		.box-content{
			border-top: 2px solid #fff;
			color: #fff;
			height: 100px;
			display: block;
			margin: 0 15px;
			padding: 10px 0;
		}
	}
}

.navigation-content{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		> li{
			margin-bottom: 3px;

			&:before{
				content: url('./images/icon-link.png');
				margin-right: 10px;
				display: inline-block;
    			vertical-align: top;
    			margin-top: 2px;
			}
		}
	}
}

footer{
	#footer-image-list{
		list-style: none;
		margin: 30px 0;
		padding: 0;
		text-align: center;

		> li{
			display: inline-block;

			+ li{
				margin-left: 10px;
			}

			img{
				max-height: 54px;
			}
		}
	}

	#footer-bottom-panel{
		background: @primary-color;
		padding: 16px 0;
		color: #fff;
		font-size: 14px;

		.footer-bottom-left{
			padding: 8px 15px;
			text-align: center;
		}

		.footer-bottom-right{
			text-align: center;
		}
	}

	#footer-social-list{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;

		.social-item{
			display: inline-block;
			margin: 0;

			+ .social-item{
				margin-left: 3px;
			}

			> a{
				display: block;
				width: 32px;
				height: 32px;
			}

			&.facebook{
				> a{
					background: url('./images/fb-icon.png') no-repeat top center;
				}
			}

			&.twitter{
				> a{
					background: url('./images/twitter-icon.png') no-repeat top center;
				}
			}

			&.google-plus{
				> a{
					background: url('./images/googleplus-icon.png') no-repeat top center;
				}
			}
		}
	}
}

label{
	text-align: left;
}

a{
	&:hover{
		text-decoration: none;
	}
}

.cover-image-panel{
	background-color: #ddd;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 140px;
}

.breadcrumb-panel{
	background: @primary-color;
	color: #fff;

	.breadcrumb{
		background: none;
		margin: 0;
		padding: 5px 0;

		> li{
			font-size: 12px;

			+ li{
				&:before{
					content: '>';
				}
			}

			> a{
				color: #fff;
				font-size: 12px;
			}
		}
	}
}

.tag-list{
	list-style: none;
	padding: 0;
	margin: 0;

	> li{
		display: inline-block;

		> a{
			display: block;
			border: 1px solid #999;
			padding: .5em;
			color: #87A3F3;
			line-height: 1;
		}

		&.active{
			> a{
				border: 1px solid black;
				background-color: @primary-color;
				color: #fff;
			}
		}
	}
}

.news-list{
	list-style: none;
	padding: 0;
	margin: 0;

	> li{
		&:nth-child(2n + 1){
			background: @blue-color-5;
		}

		&.pinned{
			> a{
				&:before{
					content: '\f08d';
					font-family: "FontAwesome";
					color: #d293a5;
					margin-right: 10px;
					display: inline-block;
					-ms-transform: rotate(30deg); /* IE 9 */
				    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
				    transform: rotate(30deg);
				}
			}
		}

		> a{
			display: inline-block;
			padding: 15px;

			.post-thumbnail-wrapper{
				width: 100px;
				height: 60px;
				margin-right: 10px;
				vertical-align: top;
				float: left;
				text-align: center;
				line-height: 60px;
				background-color: transparent;
				background-size: 100% auto;
				background-position: top center;
				background-repeat: no-repeat;
			}
		}
	}
}

#testimonial-list{
	.post-thumbnail{
		width: 120px;
		height: auto;
	}
}

.page-title{
	color: @primary-color;
	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 1.3;
}

.post-by{
	margin-bottom: 20px;
}

.content-panel{
	padding: 40px 0;
}

.content-col{
	margin-bottom: 15px;

	.col-title{
		margin-bottom: 16px;
		font-size: 18px;
		line-height: 24px;
		color: @title-color;
	}
}

.contact-item{
	> a{
		color: @text-color;
	}

	+ .contact-item{
		margin-top: 5px;
	}

	&.address{
		&:before{
			content: url('./images/icon-home.png');
			padding-right: .5em;
		}
	}

	&.phone{
		&:before{
			content: url('./images/icon-tel.png');
			padding-right: .5em;
		}
	}

	&.fax{
		&:before{
			content: url('./images/icon-fax.png');
			padding-right: .5em;
		}
	}

	&.email{
		&:before{
			content: url('./images/icon-mail.png');
			padding-right: .5em;
		}
	}
}

.contact-item-list{
	list-style: none;
	padding: 0;
}

h4,
h3,
h2,
h1{
	color: @primary-color;
	font-weight: normal;
	line-height: 1.7;
}

h1{
	font-size: 32px;
	text-transform: uppercase;
}

h2{
	font-size: 18px;
	font-weight: 500;
}

h3{
	text-transform: uppercase;
	font-size: 16px;
	margin: 20px 0;
}

h4{
	font-size: 15px;
	margin: 20px 0 15px;
}

ul{
	padding: 0;
    margin-left: 15px;
}

.page-content{
	> ul{
		margin-bottom: 10px;

		> li{
			margin: 5px;

			// > a{
			// 	color: #87A3F3;
			// }
		}
	}

	img{
		max-width: 100%;
		height: auto;

		&.alignleft{
			float: left;
			margin-right: 20px;
		}
	}
}

table{
	max-width: 100% !important;
	margin: 20px 0;

	&.responsive{
		table-layout: fixed;
		width: 100% !important;

		td{
			display: block;
			width: 100%;
			max-width: 100%;

			h4,
			h3,
			h2,
			h1{
				line-height: 1.4;

				&:first-child{
					margin-top: 0;
				}
			}

			img{
				&.alignleft{
					float: none;
				}
			}
		}
	}

	th{
		font-weight: normal;
		text-align: inherit;
		padding: 8px;
		background: @primary-color;
		color: #fff;
	}

	td{
		padding: 8px;
		max-width: 100% !important;
		vertical-align: top;
		height: auto !important;
	}

	tr{
		&:nth-child(2n){
			background: @blue-color-5;
		}

		&.empty-row{
			> td{
				padding: 20px 10px;
			}
		}
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.last-update-panel{
	margin: 30px 0;
}

.fg-menu-open{
	border: none;
}

.fg-menu-container{
	padding: 0;
	border-radius: 0;
	margin-left: -6px;
	max-width: 100%;

	.dropdown-menu{
		border-radius: 0;
	}

	ul{
		width: 100%;
		padding-bottom: 30px;
		display: block;
		border: none;
		background: #f6f6f6;

		> li{
			border-bottom: 1px solid #e0e0e0;
			position: static;

			&.active:hover,
			&.active{
				> a{
					background: transparent;
					color: @text-color;
				}
			}

			> a:link,
			> a{
				padding: 10px 15px;
				float: none;
				width: 100%;
				border-radius: 0;
				border: 0;
				cursor: pointer;
				color: @text-color;
				.text-overflow();

				&.fg-menu-indicator{
					.clearfix();
				}

				&:hover{
					background: #fff;
					padding: 10px 15px;
					width: 100%;
					border-radius: 0;
					border: 0;

					.ui-icon{
						background-image: url('./libs/fg-menu/theme/images/ui-icons_808080_256x240.png') !important;
					}
				}
			}
		}
	}

	&.fg-menu-ipod .fg-menu-content,
	&.fg-menu-ipod .fg-menu-content ul{
		background: #f6f6f6 !important;
		top: 0;
	}

	.fg-menu-breadcrumb{
		background: #63778B;
		color: #fff;
		line-height: 20px;
	}

	.fg-menu-footer{
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    border: none;
	    border-radius: 0;
	    z-index: 1000;
	    padding: 0;

	    .fg-menu-breadcrumb-text{
	    	display: none;
	    }

	    > a{
	    	font-size: 14px;
    		font-weight: normal;

    		.ui-icon{
    			margin-top: 3px;
    		}
	    }
	}
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: none;
   max-height: none;
}

#course-description-table-wrapper{
	> table{
		table-layout: fixed;
		max-width: 100%;
		width: 700px;

		tbody{
			[data-toggle="collapse"]{
				&:before{
					content: '\f0d7';
					font-family: 'FontAwesome';
					margin-right: 5px;
				}

				&.collapsed{
					&:before{
						content: '\f0da';
						font-family: 'FontAwesome';
						margin-right: 5px;
					}
				}
			}
		}
	}
}

.page-id-455{
	#header-panel,
	#footer-panel{
		display: none;
	}
}

.checkbox{
	input{
		margin-top: 5px;
	}
}

#msf-login-page{
	top: 50%;
	position: absolute;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
}

.site-content{
	min-height: 100vh;
}

#login-panel{
	margin-top: -161px;
	padding-top: 0;
	padding-bottom: 0;

	.left-col{
		text-align: right;
		padding: 20px;
		height: 322px;
		margin-bottom: 0;

		#cbs-logo{
			margin-top: 64px;
		}
	}

	.right-col{
		background: url('./images/bg.png') repeat-x;
		margin-bottom: 0;
		padding-left: 0;

		.form-wrapper{
			height: 322px;
			text-align: left;
			background: url('./images/form-bg.png') no-repeat;

			#login-inner-form{
				padding-top: 40px;
				padding-left: 25px;
				padding-right: 25px;
				max-width: 324px;

				.login-password,
				.login-username{
					> label{
						display: none;
					}
				}

				label{
					font-weight: normal;

					input[type="checkbox"]{
						margin-right: 5px;
					}
				}

				.login-msg{
					color: #f00;
				}
			}
		}
	}

	#login-title{
		color: #83a1bf;
		font-weight: 500;
		font-size: 20px;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
		line-height: 26px;
	}

	#login-subtitle{
		color: Orange;
		font-weight: normal;
		margin: 0;
		margin-bottom: 12px;
		padding: 0;
		line-height: 16px;
	}

	input[type="password"],
	input[type="text"]{
		border-radius: 0;
	}
}

.page-numbers-wrapper{
	margin: 20px 0;
}

ul.page-numbers{
	list-style: none;
	margin: 0;

	> li{
		display: inline-block;
		margin: 0;

		> a,
		> span{
			border: 1px solid black;
			padding: .5em;
			display: block;
			line-height: 1.4;

			&.current{
				background: @primary-color;
				color: #fff;
			}
		}
	}
}

.modal{
	.vertical-alignment-helper {
	    display: table;
	    height: 100%;
	    width: 100%;
	    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
	}

	.vertical-align-center {
	    /* To center vertically */
	    display: table-cell;
	    vertical-align: middle;
	    pointer-events: none;
	}

	.modal-content {
	    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	    width: inherit;
	    height: inherit;
	    /* To center horizontally */
	    margin: 0 auto;
	    pointer-events: all;

	    .modal-header{
			background: @primary-color;
			color: #fff;

			.modal-title{
				color: #fff;
				font-family: "Roboto";
				font-weight: 500;
			}

			.close{
				color: #fff;
				font-weight: normal;

				&:hover{
					opacity: 1;
				}
			}
		}

		.modal-body{
			min-height: 120px;
		}
	}
}

@media (min-width: @screen-sm-min){
	.owl-carousel{
		.owl-dots{
			bottom: 10px;
		}
	}

	.slide-arrow{
		&.medium{
			width: 60px;
			height: 60px;
		}

		&.prev{
	        left: 10px;
	    }

	    &.next{
	        right: 10px;
	    }
	}

	.menu-boxes{
		> .menu-box{
			background: #014E6A;
			text-align: center;

			.box-content{
				height: 160px;
			}
		}
	}

	.fg-menu-container{
		max-width: none;
	}

	.fg-menu-open{
		margin-top: 2px;
	}

	.cover-image-panel{
		height: 266px;
	}

	footer{
		#footer-image-list{
			text-align: left;

			> li{
				display: inline-block;

				+ li{
					margin-left: 20px;
				}

				img{
					max-height: 75px;
				}
			}
		}
		#footer-bottom-panel{
			line-height: 1;
			font-size: 14px;

			.footer-bottom-left{
				text-align: left;
			}

			.footer-bottom-right{
				text-align: right;
			}
		}
	}

	table{
		&.responsive{
			td{
				display: table-cell;
			}
		}
	}
}

@header-md-height: 111px;

@media (min-width: @screen-md-min){
	header{
		height: @header-md-height;
		border-bottom: 2px solid #B0BEC7;
		position: relative;

		&#header-panel:before{
			content: '';
			background: #fff;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 50%;
			z-index: 1;
		}

		> .navbar{
			position: relative;
			z-index: 2;

			> .container{
				background: @primary-color;
				margin-top: -1px;
				padding-top: 1px;
			}
		}

		.navbar-header{
			float: left;

			.navbar-brand{
				margin-top: -1px;
				height: @header-md-height - 2;
				position: relative;
				margin-right: 120px;
				background: url('./images/logo.png') no-repeat top right;
				width: 235px;
			}

			.navbar-toggle{
				display: none;
			}
		}

		#main-menus{
			margin-top: 0;
			margin-left: 122px;
			margin-right: 25px;
			padding: 0;
			display: block;

			> ul{
				margin-top: -35px;

				> li{
					background: transparent;
					height: 35px;
					width: 16.6%;
					line-height: 30px;
					display: inline-block;
					margin-top: 0;

					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 35px;
						-ms-transform: skewX(-45deg);
						-webkit-transform: skewX(-45deg);
						transform: skewX(-45deg);
						background-color: @blue-color-2;
						margin-left: 10px;
						margin-top: -35px;
						position: relative;
						border-bottom: 2px solid #B0BEC7;
					}

					&.active{
						&:after{
							border-bottom-color: #F387BB;
						}
					}

					&:nth-child(2n){
						&:after{
							background-color: @blue-color-3;
						}
					}

					> a{
						font-size: 13px;
						line-height: 1.1;
						color: #fff;
						text-align: center;
						width: 100%;
						position: relative;
						z-index: 2;
						height: 35px;
						display: block;
						padding-left: 29px;
						padding-top: 4px;
						font-weight: 500;

						.caret{
							display: none;
						}
					}
				}
			}
		}

		.dropdown{
			&.open{
				> a{
					margin-top: 2px;
				}
			}
		}

		.dropdown-menu{
			background: #f6f6f6;
			padding: 0;
			margin-left: -7px;

			> li{
				border-bottom: 1px solid #e0e0e0;

				> a{
					padding: 10px 15px;
					transition: all .3s ease-in-out;
					cursor: pointer;
				}

				&:hover{
					> a{
						background: #fff;
					}
				}
			}
		}
	}

	footer{
		#footer-bottom-panel{
			font-size: 15px;
		}
	}
}