<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The 52-week High and Momentum Investing in Emerging Markets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The 52-week High and Momentum Investing in Emerging Markets - 629232D1-CAD6-42ED-A0CA-003AF1876552`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `The 52-week High and Momentum Investing in Emerging Markets`</div>
<div class="progress-msg"><b>CREATING</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis`</div>
<div class="progress-msg">Associate post `The 52-week High and Momentum Investing in Emerging Markets` with current import ...</div>
<div class="progress-msg"><b>CREATED</b> `The 52-week High and Momentum Investing in Emerging Markets` `Thesis` (ID: 716)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Impact of Turnover List and Cash Balance Announcement in Thailand`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Impact of Turnover List and Cash Balance Announcement in Thailand - A5E3ECA7-5D0C-41CC-AAAC-00F65336C4F0`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Impact of Turnover List and Cash Balance Announcement in Thailand`</div>
<div class="progress-msg"><b>CREATING</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis`</div>
<div class="progress-msg">Associate post `Impact of Turnover List and Cash Balance Announcement in Thailand` with current import ...</div>
<div class="progress-msg"><b>CREATED</b> `Impact of Turnover List and Cash Balance Announcement in Thailand` `Thesis` (ID: 717)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
